<!DOCTYPE html>
<html lang='en'>

<html>

<head>
    <title>Rock-Paper-Scissors</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="js/script.js" defer></script>
</head>

<body>
    <div id="app">
        <h1>Rock-paper-scissors</h1>

        <!-- user input section -->
        <section id="input">
            <p> Select an option: </p>
            <span class="option" v-for="option in options">
                <input type="radio" :id=option :value=option name="options" @change="handleRadio" v-model="selectedOption">
                <label :for=option>{{ option.charAt(0).toUpperCase() + option.slice(1) }}</label>
            </span>    
        </section>

        <!-- results section -->
        <section id="output" v-cloak v-if='winner' class="resultSection">
            <div class="winner">Winner: {{ winner }} </div>
            <div class='count'>
                <span>User Win Count: {{ userWinCount }}</span>
            </div>
            <div class='count'>
                <span>System Win Count: {{ systemWinCount }}</span>
            </div>
            <div class='count'>
                <span>Tie Count:{{ tieCount }} </span>
            </div>
            <div>
                <button id='resetButton' @click='handleResetButton'>
                    Reset Game
                </button>
            </div>
        </section>
    </div>
</body>

</html>